
.ReactModal__Overlay {
    z-index: 2;
}
body {
    background: #f4f4f4;
    color: #505050
}

.inline {
    display: inline;
}

.tables {
    padding: 20px
}

.tb .tb-button {
    display: none;
}

.tb .tb-wrap {
    opacity: 0.3;
}

.tb .tb-wrap.highlighted {
    border-color: deepskyblue !important;
    box-shadow: 0 0 10px 2px deepskyblue;
    opacity: 1;
}

.tb.tb-status-play .bt-play {
    display: block;
    color: #00cb54
}

.tb.tb-status-pause .bt-pause {
    display: block;
    color: #ff840d;
}

.tb.tb-status-stop .bt-stop {
    display: block;
}

.tb .tb-wrap {
    border: 4px solid #cdcdcd;
    border-radius: 8px;
    margin: 10px 0;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(207, 207, 207, 1) 0%, rgba(247, 247, 247, 1) 63%);
    transition: border 0.5s;
}

.tb.tb-status-play .tb-wrap {
    border-color: #00cb54;
    opacity: 1;
}

.tb.tb-status-pause .tb-wrap {
    border-color: #ff840d;
    opacity: 1;
}

.tb .tb-modal-buttons {
    padding: 10px 15px 25px;
    justify-content: space-between;
    display: flex;
}

.tb .tb-modal-buttons .tb-modal-btn {
    border: 2px solid;
    font-weight: bold;
}

button.tb-modal-btn.tb-modal-btn-resume.btn.btn-default:hover {
    color: black;
    border-color: #c5ffbf;
    background: #c5ffbf;
}

button.tb-modal-btn.tb-modal-btn-close.btn.btn-default:hover {
    color: black;
    border-color: #ffe3bf;
    background: #ffe3bf;
}

.tb.tb-single {
    z-index: 2;
    transform: translate(50%, 25%);
}

.tb.tb-status-pause .tb-head {
    background-color: #ffe3bf;
}

.tb.tb-status-play .tb-head {
    background-color: #c5ffbf;
}

.tb {
    cursor: pointer;
}

.tb .tb-head {
    padding: 5px;
    background: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
}

.tb .tb-head .tb-buttons {
    background: #ffeeff;
    display: block;
    padding: 0 5px;
    margin-bottom: -8px;
}

.tb .tb-content {
    padding: 10px 15px 25px
}

.tb .tb-content li {
    background-color: transparent;
}

.tb .tb-head .tb-nr {
    background: rgba(255, 255, 255, 0.65);
    padding: 2px 15px;
    margin-top: 22px;
    text-align: center;
    border-radius: 11px;
    font-size: 89%;
}

.logs .log {
    opacity: 1.0;
}

.logs .log .log-recycle-btn {
    display: none;
}

.logs .log.log-recycle .log-recycle-btn {
    display: inline;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px 6px;
    cursor: pointer;
}

.logs .log.log-recycle .log-recycle-btn:hover {
    background: black;
    color: white;
}

.logs .log .log-nr {
    background: #242424;
    color: #fff;
    padding: 2px 15px;
    margin-top: 22px;
    text-align: center;
    border-radius: 11px;
    font-size: 89%;
}