
body {
    background: #f4f4f4;
    color: #505050
}

.inline {
    display: inline;
}

.tables {
    padding: 20px
}

.tb .tb-button{
    display: none;
}

.tb.highlighted {
    border: 5px solid greenyellow;
}

.tb.tb-status-play .bt-play {
    display: block;
    color: #00cb54
}

.tb.tb-status-pause .bt-pause {
    display: block;
    color: #ff840d;
}

.tb.tb-status-stop .bt-stop {
    display: block;
}

.tb .tb-wrap {
    border: 4px solid #cdcdcd;
    border-radius: 8px;
    margin: 10px 0;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(207,207,207,1) 0%, rgba(247,247,247,1) 63%);
    transition: border 0.5s;
}

.tb.tb-status-play .tb-wrap{
    border-color: #00cb54;
}

.tb.tb-status-pause .tb-wrap{
    border-color: #ff840d;
}

.tb .tb-wrap{
    opacity: 0.3;
}

.tb.tb-status-play .tb-wrap, .tb.tb-status-pause .tb-wrap{
    opacity: 1.0;
}

.tb.tb-status-play .tb-content, .tb.tb-status-pause .tb-wrap .tb-content{
    opacity: 0.3;
}

.tb:hover .tb-wrap, .tb:hover .tb-wrap .tb-content {
    opacity: 1.0;
}

.tb.tb-status-pause .tb-head{
    background-color: #ffe3bf;
}

.tb.tb-status-play .tb-head{
    background-color: #c5ffbf;
}

.tb .tb-head {
    padding: 5px;
    cursor: pointer;
    background: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
}

.tb .tb-head .tb-buttons {
    background: #ffeeff;
    display: block;
    padding: 0 5px;
    margin-bottom: -8px;
}

.tb .tb-content {
    padding: 10px 15px 25px
}

.tb .tb-content li {
    background-color: transparent;
}

.tb .tb-head .tb-nr {
    background: rgba(255, 255, 255, 0.65);
    padding: 2px 15px;
    margin-top: 22px;
    text-align: center;
    border-radius: 11px;
    font-size: 89%;
}

.logs .log {
    opacity: 0.3;
}

.logs .log:hover {
    opacity: 1.0;
}


.logs .log .log-nr {
    background: #242424;
    color: #fff;
    padding: 2px 15px;
    margin-top: 22px;
    text-align: center;
    border-radius: 11px;
    font-size: 89%;
}